.sideItemContainer {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.sideitem {
    position:relative;
    height: 50px;
    display: flex;
    align-items: center; 
    // justify-content: space-between;
    padding: 15px 0px;
    cursor: pointer;
    color: #fff;
    // text-decoration: none;
    // font-size:medium;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;
}
  
.sideitem:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sideItemSubMenuContainer {
    display:flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // height:auto;
    transition: height 600ms ease-in;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;
    // flex-direction: column;
}

.subsideitem {
    height: 50px;
    display: flex;
    align-items: center; 
    // justify-content: space-between;
    padding: 10px 0px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;
    position:relative;
}

.subsideitem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}


.sideItemSubMenuContainerClosed {
    composes:sideItemSubMenuContainer;
    height:0;
    // transition: height 600ms ease-in;
    overflow:hidden;
    // flex-direction: column;
}


.sideitemIconTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.linkText {
    color:black;
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 200ms ease-in;
    transition-delay: 250ms;
    padding-left:1em;
}
  
.linkTextClosed {
    composes: linkText;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.dropdownIcon {
    height:35px;
    width: 35px;
    color: black;
    font-size:medium;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;

    transform: rotate(-90deg);
    transition: rotate 300ms ease-in;
    position:absolute;
    right:10px;
}
.dropdownIconClosed {
    height:35px;
    width: 35px;
    color: black;
    font-size:medium;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;

    transform: rotate(90deg);
    transition: rotate 300ms ease-in;
    position:absolute;
    right:10px;
}

.dropdownIcon{

}


.sublinkText {
    color: white;
    font-size: 16px;
    font-weight: 600;
    flex-grow:1;
    opacity: 1;
    transform: translateX(0em);
    // transition: left 500ms ease-in-out, opacity 300ms ease-in;
    transition: opacity 300ms ease-in, transform 500ms ease-in-out;
    // transition-delay: 100ms;
    padding-left:1em;
    padding-right:1em;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;
}
  
.sublinkTextClosed {
    composes: sublinkText;
    // visibility: hidden;
    opacity: 0;
    transform: translateX(-8em);
    transition: opacity 300ms ease-in, transform 500ms ease-in-out;
    

}