.buttonContainer {
    background-color: rgb(89, 178, 16,.4);
    font-size: 14px;
    font-weight: bold;
    color:black;
    border-radius:5px;
    padding: 5px 10px;
    font-family: 'Poppins';
    cursor: pointer;
}

.buttonContainer:hover {
    background-color: rgb(89, 178, 16,1);
    transform: scale(1.1);
}

.buttonStyles {
    cursor: pointer;
}