
.searchBarContainer {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    background-color: rgba(89, 178, 16,1);
    color:black;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-width:  25rem;
    height:4rem;
    // padding: 10px 5px;
    font-family: 'Poppins';
}
.searchBarForm {
    display:flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid blue;
    flex-wrap: wrap;
    flex:1;
    gap: 1rem;
    font-weight: 700;
    font-size: 14px;
    height:100%;
    padding: 0 1rem;
}


.searchBarContent {
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    color:black;
    // padding-left: 1rem;
    // width:25%;
    position:relative;
    // border: 2px solid black;
    flex:2;
    height:100%;
    
}


.searchBarInputField {
    box-sizing: border-box;
    // display: inline-block;
    background-color: white;
    border-radius: 5px;
    // border:2px solid black;
    padding: 0 1rem;
    // margin: 0px 10px;
    width: 100%;
    height: 70%;
    outline:none;
    // flex:1;
    // width:50%;
}
.searchBarPlaceholder {
    position: absolute;
    line-height: 1rem;
    left:1rem;
    right:1rem;
    // border: 2px solid red;
    color: rgba(0, 0, 0, 0.5)
}


.searchButton {
    // display: inline-block;
    // background-color:  rgba(89, 178, 16,.4);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    color:black;
    // font-weight: 600;
    padding:.5rem .5rem;
    // padding:0;
    // margin:.25rem;
    opacity:1;
    cursor: pointer;
    flex:1;
    font-weight:600;
    line-height: 1rem;
    transition: color .3s ease, background-color .3s ease;
}

.searchButton:hover{
    background-color: black;
    color:white;
    outline: 2px solid white;
}
