
.Layout {
    display: flex;
    // height: 100%;
    // width: 100%;
    padding:0;
    margin:0;
    .mainHolder{
      flex-grow: 1;
      // background-color: transparent;
      // border-style: solid;
      // border-color: black;
      // border-width: 3px;

      

    }

}

.Content {
  // display: flex;
background-color: hsl(93,84%,38%, 30%);
// width:100%;
height:2000px;
// border-style: solid;
// border-color: black;
// border-width: 1px;
}