.mainContainer {
    height:8rem;
    box-sizing:border-box;
    color:black;
//     width:100%;
//     background-color:  rgb(170,215,134);
    // display:flex;
    // flex-direction: column;
    border: .25rem solid black;
//     height:8rem;
    font-family: 'Poppins';
    opacity:0;
//     position:absolute;
//     left:0;
//     right:0;
//     top:0;
//     bottom:0;


    .fieldNameContainer {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding:0rem 1rem;
    }

    .fieldValueContainer {
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .fieldValuePlaceholder {
            min-width: 50%;
            width:auto;
            font-size: 16px;
            font-weight: 700;
            background-color: white;
            padding:.5rem 1rem;
            border-radius:.25rem;
            color:rgb(150, 150, 150);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}


@media (max-width: 20rem) {
    .mainContainer {
        grid-column: span 1 !important;
    }
}
