$sidenav-width: 250px;
$sidenav-width-closed: 75px;


.sideNavSpacer {
  width:$sidenav-width;
  transition: width 0.5s ease-in-out;
}
.sideNavSpacerClosed {
  composes:sideNavSpacer;
  width:$sidenav-width-closed;
  transition: width c ease-in-out;
}

.sideNavContainer {
  display:flex;
  flex-direction: column;
  // position: fixed;
  position:sticky;
  font-family: Poppins;
  top:0;
  height: 100vh;
  // box-sizing: border-box;
  // bottom:0;
  // border-style: solid;
  // border-width: 2px;
  // border-color: blue;
}

.sidenav {
  display:flex;
  flex-direction: column;
  // flex-shrink: 0;
  width: $sidenav-width;
  transition: width 0.5s ease-in-out;
  flex-grow:1;
  // height: 100vh;
  // bottom:0;
  background-color: #59b210;
  padding-top: 28px;
  position: relative;
  
}

.sidenavClosed {
  composes: sidenav;
  width: $sidenav-width-closed;
  transition: width c ease-in-out;
}



.ravisLogo{
  height:80px;
  padding: 0px 15px;
  transition: padding 250ms ease-in;
}

.ravisLogoClosed{
  height:80px;
  /* border-style: solid; */
  /* border-color:rgb(45, 26, 216); */
  padding: 0px 0px;
  transition: padding 250ms ease-in;
}

.menuBtnSpacer{
  display:flex;
  height:50px;
  // width:min-content;
  // width:auto;
  // background-color: yellow;
}
.menuBtnHolder {
  display:flex;
  align-items: center;
  justify-content: center;
  height:50px;
  width: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute;
  left:calc($sidenav-width - 25px);
  // margin-right: -12px;
  transition: left 0.5s ease-in-out;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.menuBtnHolderClosed{
  composes: menuBtnHolder;
  transition: left c ease-in-out;
  left: calc($sidenav-width-closed - 25px)
}

.menuBtn {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
}


.menuBtnClosed {
  transform: rotate(0deg);
  composes: menuBtn;
}

.iconStyle {
  height: 40px;
  width: 40px;
}

.sideNavContainerOverflow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  // height: 100%;
  flex-grow:1;
  overflow-y:auto;
  overflow-y:overlay;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.5);
  // border-style: solid;
  // border-width: 2px;
  // border-color: black;
  .sideNavItemsContainer{
    display: flex;
    flex-direction: column;
  }
  .sideNavLogoutContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  .sideNavLogoutContainer:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.sideNavContainerOverflow::-webkit-scrollbar {
  width:10px;
  // color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.sideNavContainerOverflow::-webkit-scrollbar-track{
  border-radius:10px;
}

.sideNavContainerOverflow::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color:rgba(0, 0, 0, 0.8);
}



.logoutBtnIcon {
  width:50px;
  height:50px;
  font-size: medium;
  transform: translateX(0em);
  transition: transform 500ms ease-in;
}

.logoutBtnIconClosed {
  composes:logoutBtnIcon;
  transform: translateX(-2em);
  transition: transform 500ms ease-in;
}

.logoutBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-grow: 1;
}

.logoutBtnContainer {
  display:flex;
  align-items: center;
  justify-content: center;
}

.logoutBtnContainerClosed {
  composes:logoutBtnContainer;
  // left:10px;
  // transition: left 0.5s ease-in-out;
}

.logoutText{
  // position:absolute;
  // left:50px;
  // bottom:110px;
  font-weight: 700;
  font-size: 20px;
  opacity: 1;
  padding-right:.5em;
  transition: left 500ms ease-in-out, opacity 400ms ease-in;
}

.logoutTextClosed {
  composes: logoutText;
  left: 10px;
  opacity: 0;
  transition: left 500ms ease-in-out, opacity 400ms ease-in;
}

