.pageContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    .pageTitle {
        display: flex;
        align-items:center;
        justify-content: center;
        font-family:'Poppins';
        font-size: 32px;
        font-weight: 700;
        height:100px;
        text-shadow: 3px 3px 3px rgba(0,0,0,.2);
    }
    
    .productDetailsMainContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width:100%;
        gap:1rem;
    }

    .buttonContainer {
        height:150px;
    }

}