$transitionTime:400ms;

.appear{
    transform:translateY(-50%);

}

.appearActive{
    transform:translateY(-50%);
}

.appearDone{
    transform:translateY(-50%);
}

.enter{
    transform:translateY(-50%);
   
}

.enterActive{
    transform:translateY(0%);
    transition: transform $transitionTime ease;
}

.enterDone{
    transform:translateY(0%);
}

.exit{
    transform:translateY(0%);
}

.exitActive{
    transform:translateY(-50%);
    transition: transform $transitionTime ease;
}

.exitDone{
    transform:translateY(-50%);
}