$transitionTime:1000ms;

.appear{
    transform:translateY(-100%);
    opacity:0;
}

.appearActive{
    transform:translateY(-100%);
    opacity:0;
}

.appearDone{
    transform:translateY(-100%);
    opacity:0;
}

.enter{
    transform:translateY(-100%);
    opacity:0;
   
}

.enterActive{
    transform:translateY(0%);
    opacity:1;
    transition: transform $transitionTime 0ms, opacity $transitionTime 0ms;
}

.enterDone{
    opacity:1;
    transform:translateY(0%);
}

.exit{
    opacity:1;
    transform:translateY(0%);
}

.exitActive{
    opacity:0;
    transform:translateY(-100%);
    transition: transform $transitionTime, opacity $transitionTime;
}

.exitDone{
    opacity:0;
    transform:translateY(-100%);
}