$transitionTime:1000ms;

.appear{
    transform:translateX(-50%);
    opacity:0;
}

.appearActive{
    transform:translateX(-50%);
    opacity:0;
}

.appearDone{
    transform:translateX(-50%);
    opacity:0;
}

.enter{
    transform:translateX(-50%);
    opacity:0;
   
}

.enterActive{
    transform:translateX(0%);
    opacity:1;
    transition: transform $transitionTime, opacity $transitionTime;
}

.enterDone{
    opacity:1;
    transform:translateX(0%);
}

.exit{
    opacity:1;
    transform:translateX(0%);
}

.exitActive{
    opacity:0;
    transform:translateX(-50%);
    transition: transform $transitionTime, opacity $transitionTime;
}

.exitDone{
    opacity:0;
    transform:translateX(-50%);
}