* {
  margin: 0;
  padding: 0;
  border:0;
  background:transparent;
  vertical-align: baseline;
  font-size: 100%;
  font-family:'Poppins';
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

main {
  padding:0%;
  margin: 0%;
}
