.mainContainer {
    height:100%;
    width:100%;
    font-family: 'Poppins';

    .mainTitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        color:rgb(100, 100, 100);
        padding: 2rem 0rem;
    }
    .formInputsContainer {
        display:grid;
        gap:.25rem;
        padding: 0rem 4rem;

    }
}


@media (min-width: 20rem) {
    .formInputsContainer{
        grid-template-columns: repeat(2,auto);

    }
}

@media (min-width: 30rem) {
    .formInputsContainer{
        grid-template-columns: repeat(3,auto);

    }
}

@media (min-width: 40rem) {
    .formInputsContainer{
        grid-template-columns: repeat(4,auto);

    }
}

@media (min-width: 80rem){
    .formInputsContainer {
        grid-template-columns: repeat(8, auto);
    }
}