
.searchBarTableContainer {
    // border:5px solid black;
    height:100%;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // padding-right:4rem;
    // border:2px solid red;
    // height: 8rem;
    padding: 2rem 4rem 2rem 4rem;
}

.searchTableContainer {
    // border:2px solid black;
    padding-bottom: 2rem;
}