

.formInputContainer{
    display:flex;
    flex-direction:row;
    // flex-direction:column;
    align-items: center;
    background-color: rgb(89, 178, 16,.5);
    font-family: 'Poppins';
    height: 100px;
    width:250px;
    border-radius:5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    box-sizing: border-box;
    // border:2px solid black;

    .formLabelContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:black;
        font-size: 16;
        font-weight: 700;
        // min-width: max-content;
        // flex-grow:1;
        padding-right:.25rem;
        // border:2px solid black;
        .mainLabel {
            text-align: center;
            font-weight: 700;
            flex-grow:4;
            width:min-content;
            // width:max-content;
            text-overflow: wrap;
            padding: 0 .5rem;
            // width:60px;
            // border:2px solid black;
        }
        .colonPostfix{
            flex-grow:1;
            text-align: center;
            // border:2px solid red;
        }
    }

    .inputContainer{
        // flex-grow:2;
        // border:3px solid purple;
        position:relative;
        padding-right:2rem;
        // padding-right:0em;

        .labelInput{
            // border: 3px solid orange;
            z-index:50;
            position:relative;

            .inputStyles{
                background-color: white;
                width:100%;
                border-radius: 5px;
                border:none;
                appearance: none;
                // outline:none;
                z-index: 100;
                font-size: 14px;
                padding-left: 1rem;
                padding-top:.5rem;
                padding-bottom:.5rem;
                font-weight: 700;
                
                // border: 2px solid red;
            }

            .currentValueStyles{
                box-sizing: border-box;
                position:absolute;
                left:0;
                // bottom:0;
                color: rgb(75, 75, 75);
                transform: translate(0, 0%);
                font-size: 12px;
                padding-left: 1rem;
                font-weight: 700;
                pointer-events: none;
                opacity:0;
                transition: transform 0.3s ease, color .3s ease, opacity .3s ease;
                // border: 2px solid blue;
                width:100%;
                height:100%;

            }
        }
    }
}


.labelInput .inputStyles:focus + .currentValueStyles {
    // box-sizing: border-box;
    // top:-100%;
    transform: translate(0, calc(-100% - .75rem));
    font-size:12px;
    opacity:1;
    // background-color: rgba(200, 200, 200, 0.973);
    background-color: white;
    border-radius:5px;
    width:100%;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    padding:.25rem 1rem;
    height:auto;
    // height: 100%;
}

.formInputContainer:hover{
    box-shadow: 3px 3px 4px 3px rgba(0,0,0,.3);
    background-color: rgb(89, 178, 16);
    transform: translate(-3px, -3px);
    transition: box-shadow .15s ease-in, background-color .15s ease-in-out, transform .15s ease-in-out;

}